 
[mysqld]
default_authentication_plugin=mysql_native_password
skip-name-resolve
datadir=/var/lib/mysql
#socket=/var/run/mysqld/mysqld.sock
secure-file-priv=/var/lib/mysql-files
user=mysql
server-id=1
#log_bin=1
skip-log-bin
disable_log_bin
binlog_format=ROW
#binlog_do_db=
pid-file=/var/run/mysqld/mysqld.pid
binlog-ignore-db=mysql

#sql_mode='NO_ENGINE_SUBSTITUTION,NO_AUTO_CREATE_USER'
log_error_verbosity = 2
tls-version=''

skip-name-resolve
log_timestamps = SYSTEM

max_connections = 1000
max_connect_errors = 2000

log-error = /var/log/mysql/mysql-err.log

#log-bin = mysql-bin
#log-bin-index = mysql-bin.index
#binlog_format=mixed
binlog_cache_size = 256M
max_binlog_cache_size = 512M
max_binlog_size = 1G
binlog_expire_logs_seconds = 864000
log_bin_trust_function_creators = 1

#relay-log-index = /var/log/mysql/relaylog/relaylog
#relay-log-info-file = /var/log/mysql/relaylog/relaylog
#relay-log = /var/log/mysql/relaylog/relaylog

slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 3
#log-queries-not-using-indexes

[client]
socket=/var/run/mysqld/mysqld.sock

[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash

[myisamchk]
key_buffer_size = 256M
sort_buffer_size = 256M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout

!includedir /etc/mysql/conf.d/

